<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.1" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="MYO-1PU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>myo.fpt.sample.entity.Account</class>
    <class>myo.fpt.sample.entity.MeaningLeft</class>
    <class>myo.fpt.sample.entity.CustomSignal</class>
    <class>myo.fpt.sample.entity.Device</class>
    <class>myo.fpt.sample.entity.AccountDetail</class>
    <class>myo.fpt.sample.entity.RightSignal</class>
    <class>myo.fpt.sample.entity.Notification</class>
    <class>myo.fpt.sample.entity.WordSignal</class>
    <class>myo.fpt.sample.entity.Dictionary</class>
    <class>myo.fpt.sample.entity.DataContent</class>
    <class>myo.fpt.sample.entity.License</class>
    <class>myo.fpt.sample.entity.Sysdiagrams</class>
    <class>myo.fpt.sample.entity.LeftSignal</class>
    <class>myo.fpt.sample.entity.NotiList</class>
    <class>myo.fpt.sample.entity.Library</class>
    <class>myo.fpt.sample.entity.MeaningRignt</class>
    <class>myo.fpt.sample.entity.CustomContent</class>
    <class>myo.fpt.sample.entity.Recipt</class>
    <class>myo.fpt.sample.entity.Testtable</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:sqlserver://localhost:1433;databaseName=Myo01"/>
      <property name="javax.persistence.jdbc.password" value=""/>
      <property name="javax.persistence.jdbc.driver" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"/>
      <property name="javax.persistence.jdbc.user" value="sa"/>
    </properties>
  </persistence-unit>
</persistence>
